<div class="container mt-5">
    <h2 class="mb-4">Gestion des Catégories</h2>
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="nomCategorie">Nom</label>
                    <input type="text" class="form-control" id="nomCategorie">
                </div>
                <div class="btn-group" style="margin: 10px;">
                  <button type="button" class="btn btn-primary">Ajouter</button>
                  <button type="button" class="btn btn-secondary">Modifier</button>
                  <button type="button" class="btn btn-danger">Supprimer</button>
              </div>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Nbre Vêtements</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Les données seront insérées ici -->
                    
                      <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>h</td>
                        <td>i</td>
                      </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>