  
        <div class="container mt-5">
            <h2 class="mb-4">Gestion des Vendeurs</h2>
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="loginVendeur">Login</label>
                            <input type="text" class="form-control" id="loginVendeur">
                        </div>
                        <div class="form-group">
                            <label for="passwordVendeur">Password</label>
                            <input type="password" class="form-control" id="passwordVendeur">
                        </div>
                        <div class="btn-group"  style="margin: 10px;">
                          <button type="button" class="btn btn-primary">Ajouter</button>
                          <button type="button" class="btn btn-secondary">Modifier</button>
                          <button type="button" class="btn btn-danger">Supprimer</button>
                      </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <table class="table">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Login</th>
                                <th scope="col">Password</th>
                                <th scope="col">Nbre Vêtements</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>c</td>
                          </tr>
                          <tr>
                            <td>d</td>
                            <td>e</td>
                            <td>f</td>
                            <td>c</td>
                          </tr>
                          <tr>
                            <td>g</td>
                            <td>h</td>
                            <td>i</td>
                            <td>c</td>
                          </tr>
                          <tr>
                            <td>g</td>
                            <td>7</td>
                            <td>i</td>
                            <td>c</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
