
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-50">
        <div class="row justify-content-center w-100">
            <div class="card mb-0">
              <div class="card-body w-100">
                  <img src="../../assets/images/logos/dark-logo.svg" width="180" alt="">
                <h3 class="text-center">FashionHub</h3>
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nom d'utilisateur</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <a routerLink="/category" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Se connecter</a>
                </form>

                <!-- <form (submit)="onLogin()">
                  <div class="mb-3">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Se connecter</button>
                </form> -->
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>